

  
    

  
  
  
    
    <?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client"
             type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>

  <appSettings>
    <add key="AllowedIPs" value="127.0.0.1,::1,192.168.40.27,192.168.40.0/24" />
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />

    <add key="Sms_User" value="sangli-corpotp" />
    <add key="Sms_Password" value="Smkc@1998" />
    <add key="Sms_SenderId" value="SMKCRP" />
    <add key="Sms_Channel" value="Trans" />
    <add key="Sms_DefaultRoute" value="62" />
    <add key="Sms_DefaultPeId" value="1001211556856033653" />
    <add key="Sms_MaxNumbersPerRequest" value="100" />
    <!-- If provider requires DCS=8 for unicode -->
    <add key="Sms_DCS_Unicode" value="8" />
    <add key="Sms_DefaultDltTemplateId" value="1007370196521127500" />
  </appSettings>

  <connectionStrings>
    <add name="OracleDb"
         providerName="Oracle.ManagedDataAccess.Client"
         connectionString="User Id=ws;Password=ws;Data Source=//SMKC-SCAN:1521/hcldb;Pooling=true;Min Pool Size=1;Max Pool Size=50;Validate Connection=true" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <!-- Ensure UTF-8 throughout per project instructions -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" culture="en-US" uiCulture="en-US" />
    <customErrors mode="Off" />
    <authentication mode="None" />
    <authorization>
      <allow users="*" />
    </authorization>
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />

    <handlers>
      <!-- Remove default and re-add cleanly -->
      <remove name="WebDAV" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />

      <add name="ExtensionlessUrlHandler-Integrated-4.0"
           path="*."
           verb="*"
           type="System.Web.Handlers.TransferRequestHandler"
           preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>

    <!-- Security + CORS headers -->
    <httpProtocol>
      <customHeaders>
        <!-- Security headers -->
        <add name="X-Frame-Options" value="DENY" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-XSS-Protection" value="1; mode=block" />

        <!-- CORS: allow frontend on https://smkc.gov.in:8443 -->
        <add name="Access-Control-Allow-Origin" value="https://smkc.gov.in:8443" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, Authorization" />
        <!-- Uncomment if you need cookies / auth tokens -->
        <!-- <add name="Access-Control-Allow-Credentials" value="true" /> -->
      </customHeaders>
    </httpProtocol>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!-- Newtonsoft.Json 6.0.0.0 (matches your package 6.0.4) -->
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>

      <!-- Web API 5.2.3 / CORS -->
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>

      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver"
           invariant="Oracle.ManagedDataAccess.Client"
           description="Oracle Data Provider for .NET, Managed Driver"
           type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>

  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource"
                    descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>